<ion-header>
    <ion-toolbar>
        <ion-title>Transactions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-col></ion-col>
        <ion-list>

            <ion-item>
                <ion-select placeholder="Last 30 days">
                    <ion-select-option value="a">Last 30 days</ion-select-option>
                    <ion-select-option value="b">Yesterday</ion-select-option>
                    <ion-select-option value="c">Today</ion-select-option>
                    <ion-select-option value="d">Last 7 days</ion-select-option>
                    <ion-select-option value="e">All time</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-list>




        <table style="width:100%">

            <tr>
                <th style="color: white;"> ss</th>
                <th style="color: white;"> ss</th>
            </tr>


            <tr>
                <td>
                    <h5>Date and time</h5>
                </td>
                <td>
                    package amount
                </td>
            </tr>

            <tr>
                <td>
                    <p>card number</p>
                </td>
                <td>Biller name</td>
            </tr>

            <tr>
                <td>
                    <p>Card type</p>
                </td>
            </tr>

        </table>

    </ion-grid>

</ion-content>