<ion-header>
    <ion-toolbar>
        <ion-title>Transactions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-col></ion-col>
        <ion-list>

            <ion-item>
                <ion-select placeholder="Last 30 days">
                    <ion-select-option value="a">Last 30 days</ion-select-option>
                    <ion-select-option value="b">Yesterday</ion-select-option>
                    <ion-select-option value="c">Today</ion-select-option>
                    <ion-select-option value="d">Last 7 days</ion-select-option>
                    <ion-select-option value="e">All time</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-list>




        <table style="width:100%" *ngFor="let transaction of transaction_data">

            <tr>
                <th style="color: white;"> ss</th>
                <th style="color: white;"> ss</th>
            </tr>


            <tr>
                <td>
                    <h5>{{transaction.createdAt | date:'M/d/yy, h:mm a'}}</h5>
                </td>
            </tr>

            <tr>
                <td>
                    <p>{{transaction.card.card_number}}</p>
                </td>
                <td>{{transaction.package.package_name}}</td>
            </tr>

            <tr>
                <td>
                    <p>RefNo: {{transaction.transaction_reference}}</p>
                </td>
                <td>
                    <p>₦{{transaction.package.amount}}</p>
                </td>
            </tr>


        </table>

    </ion-grid>

</ion-content>