<ion-header>
    <ion-toolbar>
        <ion-title>PAYMENT PORTAL</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="packages/:id"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content ion-padding>
    <form #reg (ngSubmit)="validateCard(reg)">
        <ion-grid>
            <ion-row>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                    <p *ngIf="successMessage">{{successMessage}}</p>
                    <div ion-padding>
                        <ion-item>
                            <ion-label>Package name:</ion-label>
                            <ion-input type="text" class="form-control">{{package_name}}</ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Amount: </ion-label>
                            <ion-input type="text">{{amount}}</ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label for="inputCity">Card number:</ion-label>
                            <ion-input type="text" [(ngModel)]="register.card_number" name="card_number" #card_number="ngModel" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>cvv:</ion-label>
                            <ion-input type="number" [(ngModel)]="register.cvv" name="cvv" #cvv="ngModel" required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Expiry:</ion-label>
                            <ion-input type="text" [(ngModel)]="register.expiry" name="expiry" #expiry="ngModel" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Pin:</ion-label>
                            <ion-input type="password" [(ngModel)]="register.pin" name="pin" #pin="ngModel" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="transaction.transaction_reference" #transaction_reference="ngModel" *ngIf="!isHidden" style="color: white;">makeid(5)</ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" expand="block" (click)="presentAlert()">SUBMIT</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>