<ion-header>
    <ion-toolbar>
        <ion-title>Purchase Airtime</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home/:user_id" (click)="goBack()"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-col class="font-one ">
                <p>Top-up :</p>
            </ion-col>
            <ion-col style="margin-right: 60px ">
                <p>{{phoneNumber}}</p>
            </ion-col>
        </ion-row>

        <!-- <ion-list style="margin-top: 50px;">
            <ion-item>
                <ion-label>Mobile Network</ion-label>
                <ion-select placeholder="Select One ">
                    <ion-select-option *ngFor="let data of data" (click)="onClickNetwork(data._id)">{{data.biller_name}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list> -->

        <ion-row>
            <ion-card *ngFor="let data of data " (click)="onClickNetwork(data._id, data.biller_name)">
                <ion-card-header>
                    <ion-card-title>
                        {{data.biller_name}}
                    </ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-row>


        <ion-row ion-justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <form>
                    <p>Select Amount</p>
                    <div class="value-button" id="decrease" (click)="decreaseValue()" value="Decrease Value">-</div>
                    <span class="currency-input">
                  <input type="number" id="number" value="{{numBer}}"/>
                </span>
                    <div class="value-button" id="increase" (click)="increaseValue()" value="Increase Value">+</div>
                </form>

                <div>
                    <ion-button size="medium" type="submit" expand="block" style="margin-top: 50px;" [routerLink]="['/airtime-payment-gateway']" (click)="presentModal()">PAY</ion-button>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>