<ion-header>
    <ion-toolbar>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/user-profile"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form name="passwordChange" (ngSubmit)="doChange()">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <p *ngIf="message" style="color:brown">{{message}}</p>
                    <div>
                        <ion-item>
                            <ion-input type="password" name="old
                            _password" #current_password="ngModel" [(ngModel)]="changePassword.old_password" placeholder="Current Password" style="margin-top: 40px;" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="password" name="new_password" placeholder="New Password" style="margin-top: 40px;" #new_password="ngModel" [(ngModel)]="changePassword.new_password" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input style="margin-top: 60px;" type="password" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="changePassword.confirm_password" #confirm_password="ngModel" required>
                            </ion-input>
                            <ion-input type="submit"></ion-input>
                        </ion-item>
                        <div>
                            <ion-button size="medium" type="submit" expand="block" style="margin-top: 340px;">
                                Change Password
                            </ion-button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>