<ion-header>
    <ion-toolbar>
        <ion-title>{{package_name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="packages/:user_id/:biller_id"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-card style="background-color: green; height: 190px;">
                    ">
                    <div class="myImage">
                        <img src="{{package_image}}">
                        <span>₦{{package_amount}}</span>
                    </div>
                    <ion-card-header>
                        <ion-card-title style="color: white; margin-left: 200px;">
                            <h4></h4>
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <p *ngIf="message">{{message}}</p>
                <div ion-padding>
                    <ion-item>
                        <ion-label>Smarct-Card Number:</ion-label>
                        <ion-input type="text" [(ngModel)]="inputValue" name="inputValue" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Amount: </ion-label>
                        <ion-input type="text">{{package_amount}}</ion-input>
                    </ion-item>
                </div>

                <div ion-padding *ngIf="isHidden">
                    <ion-item>
                        <ion-label>Fullname:</ion-label>
                        <ion-input type="text">{{information.user.firstname}} {{information.user.lastname}}</ion-input>
                    </ion-item>
                </div>
                <div style="margin-top: 20px; margin-left: 275px;">
                    <ion-button size="medium" type="submit" (click)="validateUser(user_id, biller_id, package_id, package_name, package_amount)">CONFIRM</ion-button>
                </div>
            </ion-col>
        </ion-row>


    </ion-grid>

</ion-content>