<ion-content style="margin-top: 0px;" overflow-scroll="true">

    <ion-grid>
        <div class="list-control">

            <div class="circle">
                <div class="content">
                    <span>
                  {{firstnameInitial | uppercase}} {{lastnameInitial | uppercase}}
                </span>
                </div>
            </div>

            <h3>{{firstname | uppercase}} {{lastname | uppercase}}</h3>
            <p [routerLink]="['/edit-profile']">View and edit profile</p>

        </div>


        <div>
            <h5 class="list-control" [routerLink]="['/change-password']">
                <ion-icon name="unlock"></ion-icon> Change password
                <ion-icon class="ion-arrow" name="arrow-forward"></ion-icon>
            </h5>

            <h5 class="list-control">Invite friends
                <ion-icon class="ion-arrow" name="arrow-forward"></ion-icon>
            </h5>

            <h5 class="list-control">
                <ion-icon name="chatboxes"></ion-icon> Help & Support
                <ion-icon class="ion-arrow" name="arrow-forward"></ion-icon>
            </h5>

            <h5 class="list-control" [routerLink]="['/login']">Sign out</h5>
        </div>
    </ion-grid>


</ion-content>